body{
    margin:0;
    padding:0;
}

.main-container{
    margin:0;
    padding:0;
    display:grid;
    grid-template-rows: 70px 50px repeat(4, 1000px);
    grid-template-columns: repeat(8,1fr);
    border: 2px solid black;
}

.grid-item{
    border:2px solid black;
}

.navbar{
    grid-column-start:1;
    grid-column-end:9;
    grid-row-start:1;
    grid-row-end:2;
    display:flex;
    justify-content: space-between;
}

.nav-slide{
    grid-column-start:1;
    grid-column-end:9;
    grid-row-start:2;
    grid-row-end:3;
    display:flex;
}



ul{
    display:flex;
}

li{
    margin:10px;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
}

